#map{
height: 180px;

}
#mapdiv{
    padding-left: 45%;
    padding-right: 1%;
    padding-bottom: 20%;
    padding-top: 5%;
    height: 30em;
    width: 80em;
    box-sizing: border-box;
    overflow:auto;
 
}
#table{
    padding-top: 15%;
}
body{
   background-color: #bbff0077; 
}
head{
    background-color:black;
}
#navBar{
background-color: rgba(0, 0, 0, 0.925);
}
.container-fluid{
    display: flex;
    }
.container-fluids{
    display: flex;
    flex-direction: column;
}    